@model ApplicationClasses.Models.User

@{
    ViewData["Title"] = "AccountDetails";
}

<h2>AccountDetails</h2>

<div>
    <h1>Name: @Model.Name</h1>
    <a asp-controller="User" asp-action="ShowFriends" asp-route-id="@Model.Id">Show friends</a>
    <a asp-action="Index">Back to Home</a>
</div>