@model List<ApplicationClasses.Models.User>


@foreach (var friend in Model)
{
    <h1>@friend.Name</h1><a asp-controller="User" asp-action="AccountDetails" asp-route-id="@friend.Id">Show friend details </a><br/>
}